<ion-card *appCheckAccess="permission.View; feature: features.Card3">
  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <h4>
      {{ content }}
    </h4>
    <h4>
      Current theme :
      <b> {{ selectedTheme }} </b>
    </h4>
    <ion-button *appCheckAccess="permission.Admin; feature: features.Card3" (click)="greenTheme.emit()">Du vert !</ion-button>
  </ion-card-content>
</ion-card>
